*:focus {
    outline: none;
}

body {
    font-family: arial;
    min-height: 100vh;
    position: relative;
}

main {
    margin: 40px auto 0;
    max-width: 1620px;
}

footer {
    background: rgba(0,0,0,.9);
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.default-btn {
    cursor: pointer;
    background-color: #2e596c;
    border: none;    
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    display: block;
}

.form-btn {
    margin: 15px auto;
}

.back-button {
    margin-bottom: 20px;
    margin-left: 30px;
}

.form-footer-2btn .form-btn {
    margin: 15px;
}

.form-double-content {
    margin-bottom: 25px;
}

.form-cadastro .form-content {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

.form-double-content .form-content,
.form-double-content .form-footer {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
}

.form-cadastro .form-content .box-field,
.form-double-content .form-content .box-field {
    padding: 10px 0;
}

.form-cadastro .form-content .box-field label,
.form-double-content .form-content .box-field label {
    margin-bottom: 5px;
    display: block;
}

.form-cadastro .form-content .box-field input,
.form-cadastro .form-content .box-field select,
.form-double-content .form-content .box-field input {
    width: 100%;
    height: 25px;
}

.form-double-content .form-content h3 {
    color: #3c7994;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-double-content .form-content .content {
    margin-bottom: 20px;
}

.form-double-content .form-footer > p{
    display: block;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.form-double-content .form-footer > span.link-download {
    text-align: right;
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.page-content {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

body.create-account .page-content .box-item {
    padding: 0 60px;
}

body.create-account  .page-content .box-item a {
    text-align: center;
    text-decoration: none;
    color: #3c7994;
}

body.create-account  .page-content .box-item a span {
    margin-top: 10px;
}

body.login .login-title-link {
    text-align: right;
    display: block;
    width: 80%;
    margin: 10px auto 30px auto;
    font-size: 20px;
    color: #3c7994;
}

body.login .form-footer {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

body.login .form-footer .forgot-password-link {
    margin-bottom: 10px;
    color: #727272;
}

body.login .form-footer .register-paragrah {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body.login .form-footer .register-paragrah a {
    margin-left: 5px;
    color: #3c7994;
}

.class-listing-content {
    display: flex;
}

.class-listing-content .box-list-items {
    width: 67%;
}

.class-listing-content .box-list-items h1 {
    text-align: left;
    padding-left: 30px;
}

.class-listing-content .box-list-items .home-list-items {
    margin: 0;
}
.home-list-items {
    overflow-y: scroll;
    height: calc(100vh - 110px);
    padding: 0px 30px;
    margin-top: 40px;
}

body.detalhes-sala .home-list-items {
    overflow: unset;
    height: auto !important;
    width: 50%;
    padding: 0;
    margin: 0 0 50px;
}

body.detalhes-sala .detalhes-sala-content {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 30px;
    width: 90%;
}

body.detalhes-sala .box-add-form {
    width: 50%;
    margin-bottom: 50px;
}

body.detalhes-sala .box-add-form form {
    width: 100%;
}

body.home footer {
    bottom: unset
}

body.home .home-list-items {
    padding: 0 30px 0 70px;
    width: 100%;
}

.home-list-items .list-item:first-child {
    margin-top: 10px;
}

.home-list-items::-webkit-scrollbar-track {
	background-color: #BFCCCD;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.home-list-items::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.home-list-items::-webkit-scrollbar-thumb{
	background-color: #2e596c;
}

.home-list-items .list-item {
    background-color: #f5f6ff;
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 9px 0px #5f5d5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.005 512.005'%3E%3Cpath fill='%23fff' d='M505.749 475.587l-145.6-145.6c28.203-34.837 45.184-79.104 45.184-127.317C405.333 90.926 314.41.003 202.666.003S0 90.925 0 202.669s90.923 202.667 202.667 202.667c48.213 0 92.48-16.981 127.317-45.184l145.6 145.6c4.16 4.16 9.621 6.251 15.083 6.251s10.923-2.091 15.083-6.251c8.341-8.341 8.341-21.824-.001-30.165zM202.667 362.669c-88.235 0-160-71.765-160-160s71.765-160 160-160 160 71.765 160 160-71.766 160-160 160z'%3E%3C/path%3E%3C/svg%3E");
}

.item-remove {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='68' viewBox='-57 0 512 512' width='68'%3E%3Cpath fill='%23fff' d='M156.371 30.906h85.57v14.399h30.903V28.89C272.848 12.96 259.894 0 243.973 0H154.34c-15.922 0-28.875 12.96-28.875 28.89v16.415h30.906zm0 0'/%3E%3Cpath fill='%23fff' d='M344.21 167.75H54.103c-7.95 0-14.207 6.781-13.567 14.707L64.79 482.363C66.141 499.105 80.105 512 96.883 512h204.543c16.777 0 30.742-12.895 32.094-29.64l24.253-299.903c.645-7.926-5.613-14.707-13.562-14.707zM124.349 480.012c-.325.02-.649.031-.97.031-8.1 0-14.901-6.309-15.405-14.504l-15.2-246.207c-.523-8.52 5.957-15.852 14.473-16.375 8.488-.516 15.852 5.95 16.375 14.473l15.195 246.207c.528 8.52-5.953 15.847-14.468 16.375zm90.433-15.422c0 8.531-6.918 15.45-15.453 15.45s-15.453-6.919-15.453-15.45V218.379c0-8.535 6.918-15.453 15.453-15.453 8.531 0 15.453 6.918 15.453 15.453zm90.758-245.3l-14.512 246.206c-.48 8.211-7.293 14.543-15.41 14.543-.304 0-.613-.008-.922-.023-8.52-.504-15.02-7.817-14.515-16.336l14.508-246.211c.5-8.52 7.789-15.02 16.332-14.516 8.52.5 15.02 7.817 14.52 16.336zm0 0M397.648 120.063L387.5 89.64a19.65 19.65 0 00-18.64-13.43H29.45a19.646 19.646 0 00-18.637 13.43L.664 120.062c-1.957 5.868.59 11.852 5.344 14.836a12.624 12.624 0 006.75 1.946h372.797c2.52 0 4.816-.73 6.75-1.95 4.754-2.984 7.3-8.968 5.343-14.832zm0 0'/%3E%3C/svg%3E");
    margin-right: 10px;
}

.arrow-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448.011 448.011'%3E%3Cpath fill='%23fff' d='M438.731 209.463l-416-192c-6.624-3.008-14.528-1.216-19.136 4.48a15.911 15.911 0 00-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z'/%3E%3C/svg%3E");
}

.item-details, .item-remove, .arrow-icon {
    background-color: #26a69a;
    border: none;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    height: 35px;
    width: 50px;
}

.item-details:hover, .item-remove:hover, .arrow-icon:hover {
    background-color: #2bbbad;
}

.item-details svg {
    width: 15px;
    fill: white;
}

.home-list-items .box-title {
    margin-right: 30px;
}

.home-list-items .list-item a {
    color: #444;
    display: flex;
    flex: 1;
}

.home-list-items .list-item h5 {
    color: #2e596c;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-list-items .list-item p:first-child {
    margin-bottom: 10px;
}


/* Home */

body.home main {
    margin: 0;
    display: flex;
}

body.home .aside-menu-bar {
    background: #2e596c;
    height: calc(100vh - 70px);
    width: 225px;
}

body.home .aside-menu-bar ul a {
    color: white;
    padding: 10px 0 10px 20px;
    font-size: 17px;
}

body.home .aside-menu-bar ul a:hover {
    color: #00dcff;
}

body.home .aside-menu-bar ul a.active {
    color: #00dcff;
    position: relative;
}

body.home main .home-content {
    width: calc(100% - 225px);
    display: flex;
    align-items: flex-start;
}
/* Home */

.group-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group-list .group-item {
    background-color: #2e596c;
    max-width: 300px;
    height: 200px;
    width: calc(33% - 20px);
    margin: 10px;
}

.group-list .group-item a {
    color: white;
    text-align: justify;
    display: block;
    height: 100%;
    padding: 15px;
}

.group-list .group-item a h3 {
    margin-bottom: 25px;
}

.group-list .group-item a p {
    margin-bottom: 5px;
}


body.tasks-listing .tasks-listing .group-item {
    width: 48%;
    height: unset;
    max-width: unset;
    min-height: 45px;
    margin: 0 0 20px;
    display: flex;
    padding: 5px 0;
    align-items: center;
}

body.tasks-listing .group-list .group-item a {
    padding: 0;
    display: flex;
    width: 100%;
    padding: 0 10px 0 15px;
    align-items: center;
    font-size: 18px;
}

body.tasks-listing .group-list {
    max-width: 900px;
    justify-content: space-between;
}

body.perfil .account-content .box-user {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

body.perfil .account-content .box-user .user-logo {
    margin-bottom: 10px;
}

body.perfil .account-content .box-user .home-content {
    width: 70%;
}

body.perfil .account-content .box-user .user-text {
    width: 200px;
}

body.perfil .account-content .box-user .user-text h3 {
    display: block;
    margin-bottom: 5px;
}

body.perfil .account-content .box-user .user-text p {
    font-size: 18px;
}

body.perfil .account-content .box-user .user-text small {
    font-size: 13px;
}

small.error-message {
    color: red;
    font-size: 80%;
    margin-top: 5px;
    display: block;
}

.box-list-database > table {
    width: 100%;
}

.box-list-database > form {
    margin-bottom: 50px;
}

.box-list-database > table tbody tr {
    background-color: #f5f6ff;
    box-shadow: 0px 0px 9px 0px #5f5d5d;
    height: 60px;
}

.box-list-database > table thead tr th {
    text-align: left;
    padding-left: 10px;
    height: 35px;
}

.box-list-database > table tbody tr td {
    vertical-align: middle;
    padding-left: 10px;
}

/* trabalhos-classe */
.trabalhos-classe .home-list-items {
    height: auto !important;
    overflow: unset;
    flex-wrap: wrap;
    display: flex;
}

.trabalhos-classe .home-list-items .list-item {
    width: calc(50% - 40px);
    margin: 0 10px 25px;
}

.trabalhos-classe .box-list-items > h1 {
    margin-bottom: 50px;
}
/* trabalhos-classe */

@media (min-width:960px) {
    .class-listing-content .box-list-items .home-list-items {
        height: 70vh;            
    }

    body.home .aside-menu-bar ul a.active:after {
        color: #00dcff;
        content: "";
        display: block;
        position: absolute;
        right: -25px;
        top: -1px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 50px solid white;
        border-bottom: 20px solid transparent;
    }

    /* trabalhos-classe */
    .trabalhos-classe .class-listing-content > a {
        margin-left: 20px;
    }
    /* trabalhos-classe */
}

@media (max-width: 959px) {
    body.home header .menu-icon {
        display: flex;
        align-items: center;
    }

    body.home header .menu-icon .config svg {
        display: block;
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }

    body.home .aside-menu-bar {
        position: fixed;
        left: -100%;
        background-color: #2e596c;
        transition: .3s all ease;
    }
    
    body.home .aside-menu-bar.is-open {
        left: 0;
    }

    .home-content {
        width: 100% !important;
    }
    
    .home-list-items {
        overflow: unset;
        padding: 0 30px !important;
    }
    
    body.home main .home-list-items .list-item a {
        flex-direction: column;
    }

    body.home main .home-list-items .list-item a .box-title {
        margin-bottom: 20px;
    }
    .class-listing-content {
        flex-direction: column;
    }
    .class-listing-content .box-list-items {
        width: 100%;            
    }
    
    .group-list .group-item {
       width: calc(50% - 20px) 
    }

    body.perfil .account-content {
        flex-direction: column;
        width: 70%;
    }

    body.perfil .account-content .box-user {
        flex-direction: row !important;
        width: 100% !important;
        padding: 0;
        font-size: 22px;
        justify-content: center;
    }

    body.perfil .account-content .box-user h3 {
        margin-bottom: 15px;
    }

    body.perfil .account-content .user-text {
        padding-left: 20px;
    }
    body.perfil .account-content {
        width: 100% !important;
    }
    
    body.detalhes-sala .home-list-items,
    body.detalhes-sala .box-add-form {
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    body.detalhes-sala .detalhes-sala-content {
        padding: 0 10px;
        width: 100%;
    }
    
}


@media(max-width:600px) {
    /* trabalhos-classe */
    .trabalhos-classe .home-list-items .list-item {
        width: 100%;
    }
    /* trabalhos-classe */
}


@media (max-width: 550px) {
    .group-list {
        justify-content: center;
    }
    .group-list .group-item {
       width: 100% 
    }
    body.tasks-listing .group-item {
        width: 100%;
        height: unset;
        max-width: unset;
        min-height: 50px;
        margin-bottom: 15px;
        display: flex;
        padding: 5px 0;
    }
}

@media (max-width: 500px) {
    body.create-account .page-content .box-item {
        padding: 0 20px;
    }

    body.perfil .account-content .box-user .user-logo {
        padding-left: 15px;
    }
    
    body.perfil .account-content .box-user .user-logo img {
        width: 100px;
    }

    body.perfil .account-content .box-user .user-text h3 {
        font-size: 14px;
    }
    
    body.perfil .account-content .box-user .user-text p {
        font-size: 18px;
    }
    
    body.perfil .account-content .box-user .user-text small {
        font-size: 13px;
    }
}

/* JP css */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  .filters {
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    margin-bottom: 20px;
  }
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  .title-container {
    width: calc(100% - 15px);
    display: grid;
    grid-template-columns: 20% 10% 20% 30% 20%;
    margin-right: 30px;
  }
  
  .table-results {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
  }
  
  .title {
    color: #2e596c;
    font-size: 24px;
  }
  
  .title.is--date {
    text-align: right;
    margin-right: 30px;
  }
  
  .title-result.is--date {
    text-align: right;
    margin-right: 30px;
    display: inline-block;
  }
  
  .title.is--status,
  .title-result.is--status,
  .title.is--select,
  .title-result.is--select {
    text-align: center;
  }
  
  .results {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 10% 20% 30% 20%;
  }
  
  .title {
    text-align: left;
  }

    .Text-Notas{
        margin-top: 20px;
        text-align: center;
        font-size: 30px;

  }

  .view-notas1{
    width: 100%;
    max-height: 400px;

    }

    .text-notas1{
        margin-top: 50px;
        width: 100%;
        display: grid;
        grid-gap:10px;
        grid-template-columns: 50% 50%;
        

    }
 

    .text-notas-individual, .text-notas-grupo {
    text-align: center;
    font-size: 2em;
    background-color: #2e596c;
    color: #F5F5F5;
    padding: 5%;
    border-radius: 1em;
  }

  .texto-boas-vindas{
    text-align: center;
    font-size: 2em;
   
    color: #000000;
    margin-top: 40px;
    border-radius: 1em;

  }

  .texto-boas-vindas-institucional{
    text-align: center;
    font-size: 1em;
   
    color: #000000;
    margin: 20px;
    border-radius: 1em;

  }

  .texto-missao-institucional{
    text-align: left;
    font-size: 1em;
    color: #000000;
    margin: 20px;
    

  }

  .container2 {
    width: 70%;
    margin: 20px auto;
    max-height: 500px;
    overflow-y: scroll;
  }

  .container2::-webkit-scrollbar-track {
	background-color: #BFCCCD;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.container2::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.container2::-webkit-scrollbar-thumb{
	background-color: #2e596c;
}

  .container3 {
    width: 80%;
    margin: 20px auto;
  }

  .w-60{
    
    margin: 0 auto;
    display: block;
    max-width: 50%;

  }

  .img{
      width: 50%;
      display: block;
  }

  .box-logo{
    display: block;
  }
  
  .cadastro-btn {
    
    background-color: #2e596c;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    padding: 10px;
    margin: auto;
}

/* JP css */