<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>Nova Disciplina</title>
    </head>
    <body class="cadastro-aluno">
		<header th:insert="fragments/header.html :: header"> </header>
        <main>
            <a href="/home"><button class="back-button default-btn">Voltar</button></a>
            <h1>Cadastrar Nova Disciplina</h1>
            <form th:each="disciplina : ${disciplina}" method="POST" class="form-cadastro" action="criar-disciplina">
                <div class="form-content">
                    <div class="box-field">
                        <label >Unidade:</label>
                        <select id="select-unit-country" th:name="idUnidade">
                            <option th:each="unidade : ${unidade}" th:value="${unidade.id}" th:text="${unidade.nome}"></option>
                        </select>
                    </div>
           	   		 <div class="box-field">
                        <label for="input-subject-name" >Código da Disciplina:</label>
                        <input id="input-subject-name" type="text" name="codigo" th:value="${disciplina.codigo}"/>
                    </div>
                    <div class="box-field">
                        <label for="input-subject-name" >Nome da Disciplina:</label>
                        <input id="input-subject-name" type="text" name="nome" th:value="${disciplina.nome}"/>
                    </div>
                    <div class="box-field">
                        <label for="input-subject-description">Descrição da Disciplina:</label>
                        <textarea id="input-subject-description" rows="6" cols="50" name="descricao" th:text="${disciplina.descricao}"></textarea>
                    </div>
                    <span th:text="${mensagem}"></span>
                    <button type="submit" class="default-btn form-btn w-100">Cadastrar</button>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </main>
        </br></br></br></br>
        <footer th:replace="fragments/footer.html"></footer>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>