<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>For Schools</title>
    </head>
    <body>
        <header>
            <div class="header-content">
                <nav>
                    <div class="menu-icon hide-desk">
                    </div>
                </nav>
            </div>
        </header>
        <main class="container2">
			<a href="/login"><button class="back-button default-btn">Voltar</button></a>
            <div class="texto-boas-vindas">
                Seja Bem-Vindo ao For Schools
            </div>
            <div class="texto-boas-vindas-institucional">
                Esta é uma solução organizacional, para que os alunos tenham suas tarefas 100% alinhadas e entregues dentro do prazos. 
            </div>
            <div>
                <div class="w-60">
                    <div class="img">
                        <img src="./assets/for-schools.png"  alt=""></a>
                    </div>
                    
                </div>
            </div>
            
            <div class="container3">
                <div class="texto-boas-vindas">
                    Missão
                </div>
    
                <div class="texto-missao-institucional">
                    Auxiliar a visão que Aluno e Professor tem em cima de tarefas e prazos estipulados, com um overview geral de tarefas a serem feitas, tarefas entregues, nota atingida e resultados
                </div>
    
            </div>
            <div class="container3">
                <div class="texto-boas-vindas">
                    Valores
                </div>
    
                <div class="texto-missao-institucional">
                    Os principais valores que queremos dar aos alunos são os de responsabilidade e organização.<br> Queremos preparar nossos estudantes para que em suas jornadas profissionais eles estejam aptos a lidar com prazos e saberem se organizar com suas demandas.
                </div>
               <div class="container3">
                   <a class="login-title-link" href="/cadastro-escola"><button class="cadastro-btn">Cadastre sua escola</button></a> 
               </div> 
            </div>

        
        </main>
       <footer th:replace="fragments/footer.html"></footer>
    </body>
</html>