<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>Listagem Alunos</title>
    </head>
    <body class="cadastro-aluno">
		<header th:insert="fragments/header.html :: header"> </header>
         <div class="container">
          <button class="back-button default-btn">Voltar</button>
      <div class="filters">
        <p>Nome da sala</p>
        <select name="nameClass" id="">
          <option>Selecione</option>
          <option value="p31a">p31a</option>
          <option value="p32a">p32a</option>
          <option value="p33a">p33a</option>
          <option value="p34a">p34a</option>
        </select>
        <button class="btn">selecionar todos</button>
        <button class="btn">confirmar licença</button>
      </div>
      <div class="title-container">
        <div class="title is--name">Nome</div>
        <div class="title is--ra">RA</div>
        <div class="title is--status">Status</div>
        <div class="title is--select">Selecionar alunos</div>
        <p class="title is--date">Data final</p>
      </div>
      <div class="table-results">
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
        <div class="results">
          <div class="title-result is--name">João Pedro</div>
          <div class="title-result is--ra">86192</div>
          <div class="title-result is--status">Desativo</div>
          <div class="title-result is--select">
            <input type="checkbox" name="" class="checkbox" id="" />
          </div>
          <div class="title-result is--date">13/04/2018</div>
        </div>
      </div>
    </div>
       
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>