<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>Listagem tarefas</title>
    </head>
    <body class="tasks-listing">
		<header th:insert="fragments/header.html :: header"> </header>
        <main>
            <button class="back-button default-btn">Voltar</button>
            <h1>Grupos CTH2A</h1>
            <div class="page-content">
                <div class="group-list">
                    <div class="group-item">
                        <a href="#">
                            Criação de casos de uso
                        </a>
                    </div>
                    <div class="group-item">
                        <a href="#">
                            Criação de diagramas de classe
                        </a>
                    </div>
                    <div class="group-item">
                        <a href="#">
                            Criação de modelo de bancos de dados
                        </a>
                    </div>
                    <div class="group-item">
                        <a href="#">
                            Seminário Cristianismo
                        </a>
                    </div>
                    <div class="group-item">
                        <a href="#">
                            Projeto Integrador
                        </a>
                    </div>
                    <div class="group-item">
                        <a href="#">
                            Monografia
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>