<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/vendor/reset.css">
        <link rel="stylesheet" href="/css/vendor/tachyons.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="sortcut icon" href="/imagens/favicon.ico" type="image/x-icon" />
        <title>Novo Grupo</title>
    </head>
    <body class="cadastro-aluno">
		<header th:replace="fragments/header.html :: header(nomeUsuario=${nomeUsuario})"> </header>
        <main>
            <a th:href="@{/trabalhos-classe/(idCurso=${idCurso},idClasse=${idClasse})}"><button class="back-button default-btn">Voltar</button></a>
            <h1>Novo Grupo</h1>
            <form th:each="trabalho : ${trabalho}" method="POST" class="form-cadastro"  action="/novo-trabalho">
                <div class="form-content">
                    <div class="box-field">
                        <label >Nome do Grupo:</label>
						<input id="input-dt-nascimento" type="date" name="nomeGrupo"/>
                    <input type="hidden" id="input-email" name="idCurso" th:value="${idCurso}"/>
			   		<input type="hidden" id="input-email" name="idClasse" th:value="${idClasse}"/>
			   		<span th:text="${mensagem}"></span>
                    <button type="submit" class="default-btn form-btn w-100">Criar</button>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </main>
        <footer th:replace="fragments/footer.html"></footer>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
    </body>
</html>