<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>Meu Perfil</title>
    </head>
    <body>
	<header th:insert="fragments/header.html :: header"> </header>
        <main>
            <a href="/home"><button class="back-button default-btn">Voltar</button></a>
                    <div class="user-logo">
                         <img src="imagens/usuario.png" width=170 height=180/>
                    </div>
                    <div>
                    	</br>
                        <h3>Ricardo dos Santos, 23</h3>
                     	</br>	
                        <p>RA: RA1221</p>
                        <p>Data de Nascimento: 10/05/2020 <span></p>
                        <p>Email: mtxo.henrique@hotmail.com <span></p>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
	                    <h3>Perfil Acadêmico:</h3>
	                    </br>
                        <p>Estuda em: Unasp</p>
                        <p>Unidade: São Paulo</p>
                        <p>Curso: ADS</p>
                        <p>Ano/Semestre: 5º</p>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
                        <h3>Perfil Acadêmico:</h3>
                    	</br>
                        <p>Estuda em: Unasp</p>
                        <p>Unidade: São Paulo</p>
                        <p>Curso: ADS</p>
                        <p>Ano/Semestre: 5º</p>
                        <p>Atua como: Aluno</p>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
	                    <h3>Atuação:</h3>
	                    </br>
                        <p>Trabalhos que Participou:</p>
                        <p>(Adicionar uma lista)</p>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
                        <h3>Avaliações:</h3>
                    	</br>
                        <p><span>(Adicionar estrelas tipo avaliação da "google play")</span></p>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
	                    <h3>Indicações:</h3>
	                    </br>
                        <p>(Adicionar uma lista com as especificações abaixo)</p>
                        <h5><span>(Imagem de Perfil)</span><span> - Michael Cardoso Xavier</span><span>(icone de estrela)</span></h5>
                        <h5><span>Aluno</span><span> - Unasp - São Paulo</span></h5>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
	                    <h3>Opções:</h3>
	                    </br>
                        <p>(icone de mensagem) - mensagem</p>
                        <p>(icone de mãozinha) - indicação</p>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
	                    <h3>Gráfico de Pontuação:</h3>
	                    </br>
                        <p>(Qualquer gráfico - só para ilustrar por enquanto)</p>
                    </div>
                     </br>
                    </br>
                    </br>
        </main>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>