<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>Recuperar Senha</title>
    </head>
    <body>
        <header>
            <div class="header-content">
                <nav>
                    <div class="menu-icon hide-desk">
                    </div>
                </nav>
            </div>
        </header>
        <main>
          <a href="/login"><button class="back-button default-btn">Voltar</button></a>
            <h1>Recuperação de Senha</h1>
            <form th:each="usuario : ${usuario}" method="POST" class="form-cadastro">
                <div class="form-content">
                    <div class="box-field">
                        <label for="input-email">Digite seu e-mail:</label>
                        <input id="input-email" type="email" name="email" th:value="${usuario.email}"/>
                    </div>
                    <span th:text="${mensagem}"></span>
                    <div class="form-footer-2btn flex justify-center">
                        <button class="default-btn form-btn" type="submit" onclick="validEmail(thi.email)">Enviar</button>
                        <button class="default-btn form-btn" type="submit">Cancelar</button>
                    </div>
                </div>
            </form>
        </main>
		<footer th:replace="fragments/footer.html"></footer>
    </body>
</html>