<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/vendor/reset.css">
        <link rel="stylesheet" href="css/vendor/tachyons.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css.css">
        <link rel="sortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
        <title>Visualizar Notas</title>
    </head>
    <body class="cadastro-aluno">
		<header th:insert="fragments/header.html :: header"> </header>
         <div class="container">
            <button class="back-button default-btn">Voltar</button>
      <div class="Text-Notas">
        <p>Visualizar Notas</p>
      </div>

      <div class="view-notas1">
        <div class="text-notas1">
            <div class="text-notas-individual">Individual</div>
            <div class="text-notas-grupo">Em grupo</div>
        </div>
        
      </div>
     
    
      

      
      </div>

     
    </div>
       
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>